.processSvg{
    width: 100%;
    height: 100%;
}

.wheel{
    /* animation: rotateAntiClock 5s ease-in-out linear infinite ; */
    animation: rotateAntiClock 16s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

.wheel-3{
    animation: rotateClock 16s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotateAntiClock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    } 
}

@keyframes rotateClock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}